* {
  /*Typography stuff*/
  font-family: Arial, Helvetica, sans-serif;
  /*Miscellaneous*/
  box-sizing: border-box;
}

body {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Box model stuff*/
  height: 100vh;
  background: linear-gradient(125deg, rgb(231, 182, 182), rgb(238, 49, 143));
  /*Miscellaneous*/
  overflow-y: hidden;
}

h1 {
  /*Box model stuff*/
  margin: 50px 0 30px 0;
  /*Typography stuff*/
  font-size: 60px;
  text-shadow: 4px 4px black;
  color: white;
}

.mainContainer {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Typography stuff*/
  font-size: 16px;
  font-weight: 900;
  /*Miscellaneous*/
  gap: 10px;
}

button {
  /*Box model stuff*/
  width: 125px;
  height: 48px;
  padding: 10px 30px;
  border: 3px solid black;
  border-radius: 10px;
  /*Typography stuff*/
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}

button:hover {
  /*Box model stuff*/
  border: 3px solid #686868;
  /*Manipulations stuff*/
  transform: scale(1.03);
}

button:active {
  /*Manipulations stuff*/
  transform: scale(0.97);
}

#buttonContainer {
  /*Display stuff*/
  display: flex;
  /*Miscellaneous*/
  gap: 10px;
}

.buttonContainer2 {
  /*Display stuff*/
  display: flex;
  /*Box model stuff*/
  margin-bottom: 30px;
  /*Miscellaneous*/
  gap: 10px;
}

.sliderContainer {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Box model stuff*/
  width: 150px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: buttonface;
}

.buttonSelected {
  /*Miscellaneous*/
  box-shadow: 0 0 25px rgb(238, 255, 82);
}

#gridContainer {
  /*Display stuff*/
  display: flex;
  flex-wrap: wrap;
  /*Box model stuff*/
  width: 500px;
  height: 500px;
}

.square {
  /*Display stuff*/
  flex: 1;
  /*Box model stuff*/
  height: auto;
  border: 1px solid transparent;
  background-color: #cccbcb;
  /*Manipulations stuff*/
  animation: shadow 2s ease-in-out infinite;
}

@keyframes shadow {
  0% {
    box-shadow: 2px 2px;
  }
  50% {
    box-shadow: 10px 10px;
  }
  100% {
    box-shadow: 2px 2px;
  }
}

.square:before {
  /*Display stuff*/
  content: "";
  display: block;
  /*Box model stuff*/
  padding-top: 100%;
}

.break {
  /*Display stuff*/
  flex-basis: 100%;
  /*Box model stuff*/
  height: 0;
}

.footer {
  /*Box model stuff*/
  margin-top: 45px;
  /*Typography stuff*/
  color: white;
}

a {
  /*Display stuff*/
  display: inline-block;
  /*Box model stuff*/
  margin-left: 15px;
  /*Typography stuff*/
  text-decoration: none;
  color: white;
}

a:hover {
  /*Typography stuff*/
  text-decoration: underline;
  /*Manipulations stuff*/
  filter: invert(1);
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
